.image{
    width:35px!important;
    height:35px!important;
}


.imgSkillStyle img:hover{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.cards{
    background-color:#4d5356;
    /* #363c3f; */
    height:3.5rem!important;
    border-radius:0.65rem!important;
}
.cards .iconSkill{
     width:70%;
     height:70%;
}
/* @keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
  }
  
 
  div {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
  } */