

.imgSkillStyle img:hover{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
.cards{
    background-color:#212729;
    /* #363c3f; */
    height:4rem!important;
    border-radius:0.65rem!important;
}
.cards .iconSkill{
    font-size:50px;
}
.cards:hover{
    background-color: #eaf2f5!important;
}
.cards:hover .pskill{
    color:black!important;
}
.cards{
    animation:bgchange 4s ease-in-out infinite
}
@keyframes bgchange{
    0%{
        background-color:#212729;
    }
    15%{
        background-color: #003633;
    }
    30%{
        background-color:#212729;
    }
    45%{
        background-color: #004b49;
    }
    60%{
        background-color:#212729;
    }
    75%{
        background-color: #00201d;
    }
    90%{
        background-color:#212729;
    }
    100%{
        background-color: #1d6361;
    }

}

.pSkill{
    font-size:12px;
}
.colStyle{
    padding:4px;
    
}
@media only screen and (min-device-width: 992px) and (max-device-width:3000px) {
    .cards .iconSkill{
        margin-right:5px!important;
    }
    .image{
        width:50px!important;
        height:50px!important;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width:991px) {
        .cards .iconSkill{
            font-size:42px;
            margin-right:5px!important;
        }
        .image{
            width:42px!important;
            height:42px!important;
        }
        
}
@media only screen and (min-device-width: 576px) and (max-device-width:767px) {
    .cards .iconSkill{
        font-size:40px;
        margin-right:4px!important;
    }
    .image{
        width:39px!important;
        height:39px!important;
    }
    
}

@media only screen and (min-device-width: 100px) and (max-device-width:575px) {
    .cards .iconSkill{
        font-size:30px;
        margin-right:3px!important;
    }
    .image{
        width:30px!important;
        height:30px!important;
    }
    
}


/* @keyframes example {
    0%   {background-color: red;}
    25%  {background-color: yellow;}
    50%  {background-color: blue;}
    100% {background-color: green;}
  }
  
 
  div {
    width: 100px;
    height: 100px;
    background-color: red;
    animation-name: example;
    animation-duration: 4s;
  } */