
.btnHover{
    border:2px solid white;
    border-radius:0.70rem!important;
    background-color:#212729;
}
.btnHoverSubmit{
    background-color:white;
    color:black!important;
}

.btnHover:hover{
    background-color:#004b49!important;
    color:white!important;
    border:3px solid white!important;
}

.btnHover:hover input::placeholder{
    color:white!important;
}
input::placeholder {
    color: white!important;
    opacity: 1; 
  }
  input::submit{
      color:black;
  }
  textarea::placeholder{
    color: white!important;
    opacity: 1; 
  }
  .btnHoverSubmit:hover{
    background-color: black!important;
    color:white!important; border:3px solid #212729;
    border:2px solid white!important;
}
.btnHoverSubmit{
    background-color:#004b49!important;
    color:white!important; border:3px solid #212729;
    border:2px solid white!important;
}
.iconSec{
    border-left:1px solid white;

}
.iconContact{
    font-size:30px!important;
}
.colContactIcon{
    text-align:start;
}
.colContactText{
    text-align:end!important;
}

/* .colContact{
    display:grid;
    grid-template-columns:repeat(1,1fr);
    text-align:center;
} */
@media only screen and (min-device-width: 200px) and (max-device-width:575px) {
    .centerText{
        text-align:center!important;
    }
    .colContactIcon{
        border-left:0!important;
        text-align:end;
        border-top:1px solid white!important;
        width:50%!important;
        margin: 0 auto!important;
        
    }
    #contact{
        margin-bottom:2rem!important;
    }
    .rowContactEmail{
        margin-top:0rem!important;
    }
    .btnHoverSubmit{
        margin:3px 25%!important;
    }
    .rowContact{
        margin-top:3rem!important;
    }

}

@media only screen and (min-device-width: 576px) and (max-device-width:767px) {
    .colContactIcon{
        border-left:0!important;
        text-align:end;
    }
    .colContactText{
        text-align:start!important;
        border-left:1px solid white!important;
    }
}





