

.imageContainer img{
    height:300px;
    width:300px;
    border-radius: 50%!important;
  border:10px solid #2d524a;
}

 .headerMain::before {
    height:28rem!important;
    content:'';
    position: absolute;
    top: 0rem;
    width: 100%;
    right: 0;
   background-color:#212529!important;

    background-size: 100% 100%;
    z-index: -1;
    opacity:1;
} 
span::before {
  content: "A PROFESSIONAL WEB DEVELOPER";
  animation: animate infinite 3s;
  padding-left: 10px;
}

@keyframes animate {

  0% {
      content: "WEB DEVELOPER";
  }
  50% {
      content: "PROBLEM SOLVER";
  }
  100% {
      content: "PROGRAMMER";
  }
}