

.imageContainer img{
    height:260px;
    width:300px;
    border-radius: 50%!important;
  border:10px solid #2d524a;
}

.headerMain{
  color:black!important;
}
.btnDownload{
  background-image:linear-gradient(-90deg,#003633,#004b49) ;
  border:1px solid white!important;
}
.btnProject{
  background-image:linear-gradient(-90deg,#003633,#004b49) ;
  border:1px solid white!important;
}


:root {
  --blink-time: 40s;
}


